torch
transformers
datasets
accelerate
peft
trl
pytest
langchain_core
langchain_community
langchain_chroma
langchain_ollama
chromadb
nltk
sumy
pyphen
dehyphen
symspellpy
sentence_transformers
toons
spacy
textblob
polyglot
pyicu
pycld2
argostranslate
multi_rake